/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Overrides

Plugin and other CSS overrides

******************************************************************/


// Visual Composer

.vc_row {
    margin-left: 0;
    margin-right: 0;
	
	.vc_column_container {
		> .vc_column-inner {
			padding-left: 0;
			padding-right: 0;
			padding-top: 0 !important;
		}
	}
	
	.wpb_content_element {
		margin-bottom: 0;
	}
	
	.wpb_text_column,
	.wpb_raw_code {
		padding: 2.3em;
	}
	
	.wpb_single_image {
		.wpb_wrapper, .vc_single_image-wrapper, .vc_single_image-img {
			width: 100%;
		}
		.vc_single_image-img {
			max-width: 100%;
		}
	}
	
	
	// Meta Slider
	.metaslider {

		.flexslider {
			margin-bottom: 0;

			.flex-control-nav {
				bottom: 30px;
				
				@media screen and (max-width: 480px) {
					bottom: 10px;
				}
			}

			.flex-control-paging {
				li {
					a {
						width: 18px;
						height: 18px;
						background: none;
						border: 2px solid $white;
						@include transition(background 0.2s ease-in-out);

						&.flex-active, &:hover {
							background: $white;
						}
					}
				}
			}
			
			.caption-wrap {
				bottom: 75px;
				background: none;
				opacity: 1;
				
				@media screen and (max-width: 480px) {
					bottom: 40px;
				}
				
				.caption {
					text-align: center;
					font-size: 2em;
					
					@media screen and (max-width: 480px) {
						font-size: 1em;
					}
				}
			}
		}
	}
}