/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Variables

******************************************************************/

/*********************
COLORS
Choosing your colors http://0to255.com/
*********************/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #000;
$white:             #fff;

$light-gray:        #efedeb;
$gray:              #212121;
$med-gray:			#333333;
$meta-gray:         #747176;

$blue:				#3fc1d2;
$yellow:			#f7c400;

$text-color:        $black;
$link-color:        $black;
$link-hover:        $blue;

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;

.white {
	color: $white !important;
	
	a {
		color: $white;
	}
}

.black {
	color: $black !important;
}